.road {
  border: 3px dotted var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;

   h1 {
    font-size: var(--fs2);
   }

   .autos {
    display: flex;
    justify-content: flex-start;
    align-items: start;
   }

   .up-a, .down-a {
    flex-direction: column;
    min-height: 150px;
    max-height: fit-content;
   }

   .left-a, .right-a {
    flex-direction: row;
    min-width: 150px;
    max-width: fit-content;
   }

  .right-a {
    transform: translateX(-140px);
  }

  .left-a {
    transform: translateX(140px);
  }

  .up-a {
    transform: translateY(-140px);
  }

  .down-a {
    transform: translateY(140px);
  }
}

.vertical {
  height: 500px;
  width: 30px;
}

.horizontal {
  height: 30px;
  width: 500px;
}