.road {
  border: 3px dotted var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;

   h1 {
    font-size: var(--fs2);
   }

   .autos {
    display: flex;
    justify-content: flex-start;
    align-items: start;
   }

   .up, .down {
    flex-direction: column;
    min-height: 100px;
    max-height: fit-content;
   }

   .left, .right {
    flex-direction: row;
    min-width: 100px;
    max-width: fit-content;
   }

   .up {
    transform: rotateZ(180deg);
   }

  .right {
    transform: rotateZ(180deg);
  }
}

.vertical {
  height: 500px;
  width: 30px;
}

.horizontal {
  height: 30px;
  width: 500px;
}