.stop-light {
  min-width: 20px !important;
  min-height: 20px !important;
  border-radius: 50%;
  filter: blur(5px);
  position: absolute;
  z-index: 1;

}

.active {
  background: var(--color-active);
}

.inactive {
  background: var(--color-inactive);
}

.up {
  transform: translateY(-40px);
}

.down {
  transform: translateY(40px);
}

.left {
  transform: translateX(40px);
}

.right {
  transform: translateX(-40px);
}